data/IMDB.txt
data/glove*
data/LIDE_wordemb
data/docvector.txt
data/wiki*
data/parameters_baseline2*
data/precompute_keyword*
.ipynb_checkpoints/
__pycache__
*.npy
20news*
test.py
*.pth
*.png
aclImdb
*.txt
.vscode
baseline_collect/